.tips__elements{
    display: flex;
    padding:40px 80px 0 150px;
    height: 350px;
    background: rgb(255,255,255);
    background: linear-gradient(130deg, rgba(255,255,255,1) 60%, rgba(214, 230, 254, 0.289) 100%);
    border-radius: 35px;
}

.tips__element{
    display: flex;
    flex-direction: column;
    padding: 0 20px;
}

.tips__element img{
    width: 80px;
    padding-bottom: 50px;
}

.tips__element h2{
    font-size: 20px;
    font-weight: 700;
    padding-bottom: 30px;
}

.tips__element p{
 color: #5E6E85;
 font-size: 22px;
}

@media only screen and (min-width: 768px) and (max-width: 1023px){
    .tips__elements{
        display: block;
        padding: 20px 40px;
        height: 450px;
        background: rgb(255,255,255);
        background: linear-gradient(130deg, rgba(255,255,255,1) 60%, rgba(214, 230, 254, 0.289) 100%);
    }

    .tip__element{
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .tip__element img{
        padding-top: 40px;
        padding-right: 40px;
    }

    
}

@media only screen  and (max-width: 767px){
    .tips__elements{
        display: block;
        padding: 40px 40px;
        height: 900px;
        background: rgb(255,255,255);
        background: linear-gradient(130deg, rgba(255,255,255,1) 60%, rgba(214, 230, 254, 0.289) 100%);
    }

    .tip__element{
        align-items: start;
    }

    .tip__element img{
        padding-top: 40px;
        padding-right: 40px;
    }

}

@media only screen and (max-width: 499px){
    .tips__elements{
        height: 1000px;
    }
}