.description {
    height: 700px;
    display: flex;
    padding: 100px;
}

.description__img{
    flex-basis: 50%;
    padding-right: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image__men{
    width: 700px;
}

.description__text{ 
    flex-basis: 50%; 
    display: flex;
    flex-direction: column;
    margin: 0 40px;
}

.description__text h2{
    color: #253347;
    font-size: 65px;
    font-weight: 600;
    letter-spacing: -2.2px;
    padding-top: 200px;
    padding-bottom: 40px;
}

.description__text p{
    color: #5E6E85;
    font-size: 23px;
}


/* Responsive  */

@media only screen and (min-width: 1024px) and (max-width: 1440px) {

    .description {
        height: 630px;
    }

    .image__men{
        width: 500px;
    }

    .description{
        padding: calc(100px - 10%);
    }

    .description__text{ 
        margin: 0 40px;
    }

    .description__text h2{
        padding-top: 150px;
        font-size: 45px;
    }

    .description__text p{
        font-size: 16px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .description {
        height: 350px;
        margin-top: 300px !important;
    }

    .image__men{
        position: absolute;
        left: -70px;
        top: 1000px;
        width: 500px;
    }

    .description__text{ 
        margin: 0 0 0 30px;
    }

    .description__text h2{
        padding-top: 45px;
        font-size: 35px;
    }

    .description__text p{
        font-size: 15px;
    }
}

@media only screen and (min-width: 500px) and (max-width: 767px){
    .description {
        flex-direction: column;
        align-items: center;
        height: 790px;
        margin-top: 400px !important;
        padding: 100px 0 70px;
    }

    .image__men{
        width: 100%;
    }

    .description__img{
        padding-right: 0;
    }

    .description__text{ 
        margin: 0  40px;
    }

    .description__text h2{
        padding-top: 45px;
        font-size: 35px;
    }

    .description__text p{
        font-size: 20px;
    }
}

@media only screen and (max-width: 499px){
    .description {
        flex-direction: column;
        align-items: center;
        height: 800px;
        margin-top: 200px !important;
        padding: 100px 0 20px;
    }

    .image__men{
        width: 100%;
    }

    .description__img{
        padding-right: 0;
    }

    .description__text{ 
        margin: 0  40px;
    }

    .description__text h2{
        padding-top: 45px;
        font-size: 35px;
    }

    .description__text p{
        font-size: 20px;
    }
}